@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



body {
    background-color: #FCF6FF;
    font-family: 'Oxygen', sans-serif;
}

.container-api {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    width: 100vw;

}


.button-api {
    background-color:#B742FF;
    color: white;
    height: 61px;
    width: 146px;
    border-radius: 10% ;
    font-size: 20px;
    margin-right: 0px;
    
}
.input-api {
    width: 740px;
    height: 67px;
    background-image: url('searchicon.png');
    border-radius: 15px ;
    opacity: 50%;
    border: none;
    padding-left: 0px;
}
.input-button-container{
    border-color:#B742FF;
    display: flex; 
    align-items: center; 
    gap: 10px; 
    border: 2px solid #B742FF; 
    border-radius: 15px;
    padding: 5px; 
    max-width: 740px;
}

li {
   list-style: none;
}
.search-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 740px;
    height: 256px;
    box-shadow: 0px 4px 0px 4px #B742FF1A;
    font-family: Oxygen;
    background-color: #ffffff;
    position: relative;
}
.box-item {
    color:#C3C0C5;
    height: 51px;
    width: 711px ;
    align-content: center;
    
}
.box1 {
    background-color: #F7EEFC;
}

.image-box {
    position: relative; 
    width: 100vw; 
    height: 300px;
    box-sizing: border-box;

}

.images-pic1 {
    position: absolute;
    top: 20px;
    left: 20px; 
    width: 150px; 
}

.image-vector2 {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 150px;
}

.image-vector3 {
    position: absolute;
    top: 100px;
    left: 450px;
    width: 150px;
}

.images-pic2 {
    position: absolute;
    top: 150px;
    width: 150px;
}


.search-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 98vw;
    border: 2px solid rgb(238, 238, 241);
    opacity: 0.8;
}
.search-nav-link{
    text-decoration: none;
    color:#8B8A8B;
    font-family: 'Oxygen', sans-serif; 
    font-size: 20px;
    
}
.search-nav-logo{
    color:#B742FF;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.drop-sign{
    color: #B742FF;
    font-size: 20px;
    border: none;
    background-color: none;
}

.clock {
    height: 14px;
    width: 14px;
    margin-right: 30px;
}