.diving {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(5, 39, 97);
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}
.image{
    height: auto;
    max-width: 60%;
  }
.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}