.flex-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.flex-box{
    border: 2px solid rgb(27, 137, 192);
    border-radius: 10px;
    box-shadow: 3px 2px 2px rgb(149, 162, 245);
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.flex-box p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color:rgb(72, 72, 94);
}

.image {
  width: 150px;
  height: 50px;
}
h1 {
  text-align: center;
  color: rgb(28, 2, 54);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  border-radius: 20%;
  border: 2px solid rgb(67, 67, 160);
  color:rgb(168, 124, 59);
  border: 2px solid rgb(202, 202, 244);
  background-color: rgb(229, 210, 247);
}
button:hover {
  border-radius: 20%;
  border: 2px solid rgb(196, 196, 232);
  background-color:rgb(236, 180, 95);
  color:rgb(33, 65, 81);
}
body {
  background-color: rgb(240, 248, 219);
}
/* price-tag */
.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.button-box{
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 98vw;
  height: 50px;
  padding: 10px;
  padding-bottom: 40px;
  margin-bottom: 100px;
  gap: 20px;
  
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  color:rgb(28, 2, 54);
  
}
/* navbar */

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 98vw;
  border: 2px solid rgb(202, 202, 244);
  background-color: rgb(229, 210, 247);
  opacity: 0.8;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  padding: 10px;
  margin: 0 15px;
  color:rgb(28, 2, 54);
  text-decoration: none;
}
.nav-link {
  color:#94A7AE;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgb(239, 209, 164);
}
.nav-link:hover{
  color:rgb(33, 65, 81);
  background-color: rgb(179, 243, 139);
}
/* footer */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 98vw;
  border: 2px solid rgb(202, 202, 244);
  background-color: rgb(229, 210, 247);
  opacity: 0.8;
  margin-top: 40px;
}

footer .footer-link  {
  list-style-type: none;
  padding: 5px;
  margin: 0 15px;
  text-decoration: none;
  gap: 30px;
  font-size: 15px;
  color:rgb(74, 181, 234);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-link:hover{
  color:rgb(33, 65, 81);
}
/* contact*/
.form-container {
  display: flex;
  flex-direction: column;
  width: 98vw;
  justify-items: center;
  align-items: center;
  background-color:bisque;
  gap: 5px;
}
input:hover, textarea:hover {
  cursor: pointer;
  background-color: rgb(211, 183, 238);
}

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(67, 67, 160);
}